<!DOCTYPE html>
<html>
<head>
	<title>Kibbe King</title>
	<link rel="stylesheet" type="text/css" href="css/superslides.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Dosis|Gugi|Nanum+Gothic|Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap" rel="stylesheet">
</head>
<body>

	<div id="myModal" class="modal">

		  <!-- The Close Button -->
		  <span class="close">&times;</span>

		  <!-- Modal Content (The Image) -->
		  <img class="modal-content" id="img01">

		  <!-- Modal Caption (Image Text) -->
		  <div id="caption"></div>
		</div>

	<nav id="navigation" class="navbar navbar-expand-lg">
	  <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/NathanAntebi/kibbeking/master/IMG/logo.jpg"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link item-text" href="#what-we-do">About<span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link item-text" href="#menu">Menu</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link item-text" href="#contact">Contact</a>
			      </li>
		    </ul>
	  </div>
	  <ul class="nav navbar-nav navbar-right icon-text">

		<li><span class="insta item-text">
			<img src="https://raw.githubusercontent.com/NathanAntebi/kibbeking/master/IMG/icons/instagram.png">: @KibbeKing  
		</span></li>
		<br>

		<li><span class="phone item-text ">
			<img style="margin-left: 10px" src="https://github.com/NathanAntebi/kibbeking/blob/master/IMG/icons/phone.png?raw=true">: 917-324-5259
		</span></li>
		
	</ul>

</nav>