<!DOCTYPE html>
<html>
<head>
	<title>Kibbe King</title>
	<link rel="stylesheet" type="text/css" href="css/superslides.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Dosis|Gugi|Nanum+Gothic|Pacifico" rel="stylesheet">
</head>
<body>

	<div id="myModal" class="modal">

		  <!-- The Close Button -->
		  <span class="close">&times;</span>

		  <!-- Modal Content (The Image) -->
		  <img class="modal-content" id="img01">

		  <!-- Modal Caption (Image Text) -->
		  <div id="caption"></div>
		</div>


<div id="slides">

		<div class="overlay"></div>

	  <div class="slides-container">
	    <img src="https://github.com/NathanAntebi/kibbeking/blob/master/IMG/kibbefar.jpg?raw=true" alt="">
	    <img src="https://github.com/NathanAntebi/kibbeking/blob/master/IMG/orders.jpg?raw=true" alt="">
	    <img src="https://github.com/NathanAntebi/kibbeking/blob/master/IMG/lahmafar.jpg?raw=true" alt="">
	    <img src="https://github.com/NathanAntebi/kibbeking/blob/master/IMG/sambousakfar.jpg?raw=true" alt="">
	    <img src="https://github.com/NathanAntebi/kibbeking/blob/master/IMG/empanada.jpg?raw=true" alt="">
	    <img src="https://github.com/NathanAntebi/kibbeking/blob/master/IMG/popcornchicken.jpg?raw=true" alt="">
	    <img src="https://github.com/NathanAntebi/kibbeking/blob/master/IMG/ricekrispychicken.jpg?raw=true" alt="">
		   
	  </div>

	  <div class="title-message">
	  	<div class="heading">
	  		<p  class="main">Kibbe<span style="font-weight:800">king</span></p>
	  		<p style="margin-bottom:35px;" class="sub">Get <span style="font-weight:800" class="typed"></span> mazza!</p>
	  		<a class=" find-dish" href="/dishes">Find a dish<a/>
	  		
	  	</div>
	  </div>
	  <nav class="slides-navigation">
		    <a href="#" class="next"></a>
		    <a href="#" class="prev"></a>
	  	</nav>

	</div>


	<style>



	.find-dish:hover{
	border-top-right-radius:100%;
	border-bottom-right-radius: 100%;
	background-color: #f7ac32;
	transform: scale(1.1);
	color: #fff!important;
	text-decoration: none;
	transition: all 0.3s;
}

@media only screen and (max-width: 600px) 
.main, .sub {
    font-size: 30px;
}
</style>



 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
      <script src="JS/script.js"></script>
	  <script src="JS/superslides.js"></script>
	  
	  <script src="JS/typed.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	</body>
	</html>